.header
{
    background: #F2F2F2;
    &__inner
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 44px;
        padding-bottom: 44px;
        &__logo
        {
            display: block;
        }
        &__list
        {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__item
            {
                list-style: none;
                &__link
                {
                    text-decoration: none;
                    font-family: 'Barlow';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.923077px;
                    text-transform: uppercase;
                    color: #83888F;
                    margin-left: 32px;
                    &:hover
                    {
                        font-family: 'Barlow';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 0.923077px;
                        text-transform: uppercase;
                        color: #333D4B;
                    }
                }
            }
        }
    }
}