.hero
{
    &__inner
    {
        padding-top: 1px;
        background-image: url(../../images/Bitmap.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: border-box;
        border-radius: 15px;
        margin: 0;
        padding: 0;
        &__in
        {
            padding-top: 117px;
            padding-left: 84px;
            padding-bottom: 116px;
        }
        
        &__h1
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            color: #FEFCF7;
            width: 493px;
            margin-bottom: 32px;

        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;
            width: 400px;
            margin-bottom: 56px;

        }

    }
}
.our
{
    &__inner
    {
        width: 100%;
        &__list
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            width: 100%;
            margin: 0;
            padding: 0;
            margin-bottom: 188.45px;
            padding: 0 150px;
            margin-top: 256px;
            &__item
            {
                display: block;
            }
        }
        &__h2
        {
            width: 100%;
            background-color: #83888F;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 150px;
            line-height: 1.5;
            text-align: center;
            color: transparent;
            // -webkit-background-clip: text;
            background-image: linear-gradient(180deg,rgba(254,252,247,0.0001)0%,#fefcf7 100%);
            // width: calc(100% + 100%);
            margin: 0;
            padding: 0;
            z-index: -1;
            margin-bottom: -355px;

        }
        &__img
        {
            width: 255px;
            height: 193px;
            display: block;
        }
        &__h3
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #333D4B;
        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #333D4B;
            width: 240px;
        }
    }
}
.choose
{
   &__inner
   {
    background-color: #000;
    text-align: center;
    width: 100%;
    height: 590px;
    &__h2
    {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;
        padding-top: 100px;
        margin-bottom: 32px;
    }
    &__p
    {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        width: 500px;
        margin: 32px auto;
        margin-bottom: 86px;
    }
        &__list
        {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            margin: 0;
            width: 100%;
            padding: 0;
            &__item
            {
                background-color: #0E8784;
                width: 350px;
                height: 382px;
                border-radius: 8px;
            }
            &__img
            {
                display: block;
                height: 72px;
                margin:  0 auto;
                margin-top: 72px;
                margin-bottom: 56px;
            }
            &__h3
            {
                font-family: 'Fraunces';
                font-style: normal;
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
                color: #FEFCF7;
                margin-bottom: 24px;
            }
            &__p
            {
                width: 255px;
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                margin: 24px auto;
                color: #FEFCF7;
            }
        }
   }
}
.coffee
{
   &__inner
   {
    margin-bottom: 200px;
    &__list
    {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-right: 150px;
        padding-top: 82px;
        &__h2
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            color: #FDD6BA;

        }
        &__h3
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 36px;
            color: #333D4B;
            width: 255px;
        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #333D4B;
            width: 285px;
        }
        &__item
        {
            position: relative;
            border: 1px solid white;
            width: 285px;
            height: 355px;
            &::before
            {
                position: absolute;
                top: -67px;
                left: 0;
                width: 27px;
                height: 27px;
                border-radius: 50%;
                border: 2px solid #0E8784;
                background: #FEFCF7;
                content: " ";
            }
        }
        &__item:not(:last-child)::after
        {
            position: absolute;
            top: -57px;
            left: 0;
            width: calc(100% + 150px);
            height: 2px;
            background-color: #FDD6BA;
            content: " ";
            z-index: -1;
            left: 15px;
            bottom: 15px;
        }
        
        &__btn
        {
            padding-top: 64px;
            padding-bottom: 200px;
        }
    }
    padding-top: 312px;
   }
}
// =================Abuot US==================//
.abuot
{
    &__inner
    {
        padding-top: 1px;
        width: 100%;
        height: 420px;
        background-image: url(../../images/Abuot.png);
        background-repeat: no-repeat;
        border-radius: 10px;
        &__in
        {
            margin-top: 137px;
            margin-left: 85px;
        }
        &__h1
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #FEFCF7;
        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #FEFCF7;
            width: 445px;
            margin-top: 24px;
        }
    }
}
.commitment
{
    &__inner
    {
        margin-top: 168px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__img
        {
            display: block;
            width: 445px;
        }
        &__h2
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #333D4B;

        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #333D4B;
            mix-blend-mode: normal;
            opacity: 0.8;
            width: 538px;
        }
    }
}
.quality
{
    &__inner
    {
        margin-top: 244px;
        background-color: #000;
        width: 100%;
        height: 474px;
        border-radius: 15.1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &__div
        {
            margin-left: 85px;
        }

        &__h2
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #FEFCF7;
            
        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;
            width: 540px;
        }
        &__img
        {
            width: 445px;
            height: 474px;
            position: absolute;
            right: 100px;
            top: -85px;
        }
    }
}
.headquarters
{
    &__inner
    {
        &__h2
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #83888F;
            margin-top: 168px;

        }
        &__list
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
            margin-top: 72px;
            &__h3
            {
                font-family: 'Fraunces';
                font-style: normal;
                font-weight: 900;
                font-size: 32px;
                line-height: 36px;
                color: #333D4B;
                margin-top: 45px;
                margin-bottom: 24px;
            }
            &__p
            {
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #333D4B;
                margin-top: 2px;
            }
            &__img
            {
                display: block;
                width: 40.84px;
                height: 49.07px;
            }
        }
    }
}
// =================Create a plan====================//
.create
{
    &__inner
    {
        padding-top: 1px;
        width: 100%;
        height: 420px;
        background-image: url(../../images/create.png);
        background-repeat: no-repeat;
        border-radius: 10px;
        &__in
        {
            margin-top: 137px;
            margin-left: 85px;
        }
        &__h1
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #FEFCF7;
        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #FEFCF7;
            width: 445px;
            margin-top: 24px;
        }
    }
}
.enjoy
{
    &__inner
   {
    margin-bottom: 200px;
    &__list
    {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-right: 150px;
        padding-top: 82px;
        &__h2
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            color: #FDD6BA;
        }
        &__h3
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 36px;
            color: #FEFCF7;
            width: 255px;

        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #FEFCF7;
        }
        &__item
        {
            position: relative;
            width: 285px;
            height: 355px;
            &::before
            {
                position: absolute;
                top: -67px;
                left: 0;
                width: 27px;
                height: 27px;
                border-radius: 50%;
                border: 2px solid #0E8784;
                background: #FEFCF7;
                content: " ";
            }
        }
        &__item:not(:last-child)::after
        {
            position: absolute;
            top: -57px;
            left: 0;
            width: calc(100% + 100px);
            height: 2px;
            background-color: white;
            content: " ";
            z-index: 1;
            left: 15px;
            bottom: 15px;
        }
        
        &__btn
        {
            padding-top: 64px;
            padding-bottom: 200px;
        }
    }
    padding-top: 312px;
   }
}
.drink
{
    &__inner
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 156px;
        &__btn
        {
            margin-top: 40px;
            margin-left: 600px;
        }

        &__h2
        {
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #83888F;
            margin-bottom: 56px;

        }
        &__h3
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-transform: uppercase;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.5;
            padding-top: 31px;
            padding-left: 64px;
        }
        &__p
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 40px;
            color: #FFFFFF;
            width: 602px;
            padding-top: 8px;
            padding-left: 64px;
            padding-bottom: 27px;


        }
        &__list
        {
            list-style: none;
            &__span
            {
                &:hover
                {
                    font-family: 'Fraunces';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 32px;
                    color: #0E8784;
                }

            }
            &__span3
            {
                &:hover
                {
                    font-family: 'Fraunces';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 32px;
                    color: #333D4B;
                }

            }
            &__item
            {
                margin-bottom: 24px;
                &__link
                {
                    font-family: 'Fraunces';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 32px;
                    color: #83888F;


                }
            }
        }
        &__div
        {
            display: block;
        }
        &__lists
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            
            &__items
            {
                border: 1px solid #F4F1EB;
                border-radius: 8px;
                margin-right: 23px;
                width: 228px;
                height: 250px;
                &:hover
                {
                    background: #FDD6BA;
                    border-radius: 8px;
                }
                &:active
                {
                    background: #0E8784;
                    border-radius: 8px;
                }
                &__h3
                {
                    font-family: 'Fraunces';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 32px;
                    color: #333D4B;
                    margin-top: 32px;
                    margin-left: 28px;
                }
                &__p
                {
                    font-family: 'Barlow';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: #333D4B;
                    width: 172px;
                    margin-top: 24px;
                    margin-left: 28px;
                }
            }
        }
    }
}

