@media screen and (max-width: 768px) {
    .hero
{
    &__inner
    {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 500px;
        background-image: url(../../images/Tablet__Bitmap.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        &__in
        {
            padding-top: 104px;
            padding-left: 58px;
            padding-bottom: 104px;
        }
        
        &__h1
        {
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height: 48px;
            color: #FEFCF7;
            width: 329px;

        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;
            width: 398px;

        }

    }
}
.our
{
    &__inner
    {
        width: 100%;
        &__list
        {
            display: block;
            list-style: none;
            width: 100%;
            margin: 0;
            padding: 0;
            margin-top: 315px;
            padding-left: 50px;
            padding-right: 50px;
            margin-bottom: 144px;
            &__div
            {
                margin-top: 10px;
            }

            &__item
            {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 48.52px;
            }
        }
        &__h2
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 96px;
            line-height: 72px;
            text-align: center;
            color: #83888F;
            margin-top: 144px;
            color: transparent;
            -webkit-background-clip: text;
            background-image: linear-gradient(180deg,rgba(254,252,247,0.0001)0%,#fefcf7 100%);

        }
        &__img
        {
            width: 255px;
            height: 193px;
            display: block;
        }
        &__h3
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #333D4B;
            text-align: left;
        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #333D4B;
            text-align: left;
            width: 282px;

        }
    }
}
.choose
{
   &__inner
   {
    background-color: #000;
    text-align: center;
    width: 100%;
    height: 650px;
    border-radius: 15px;
    &__h2
    {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;

    }
    &__p
    {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        top: 144px;
    }
        &__list
        {
            display: block;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            margin: 0;
            width: 100%;
            padding: 0;
            padding-left: 57px;
            padding-right: 57px;
            top: -150px;
            &__item
            {
                background-color: #0E8784;
                width: 573px;
                height: 180px;
                border-radius: 8px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 24px;
            }
            &__img
            {
                display: block;
                margin: 0;
                padding: 0;
                margin: 62px auto;

            }
            &__h3
            {
                font-family: 'Fraunces';
                font-style: normal;
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                color: #FEFCF7;
                text-align: left;
                width: 255px;
            }
            &__p
            {
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                color: #FEFCF7;
                text-align: left;
                width: 344px;
            }
        }
   }
}
.coffee
{
   &__inner
   {
    margin-top: 434px;
    margin-bottom: 200px;
    &__list
    {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        &__h2
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            color: #FDD6BA;

        }
        &__h3
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
            line-height: 32px;
            color: #333D4B;
            width: 200px;
        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #333D4B;
            width: 161px;
        }
        &__item
        {
            position: relative;
            width: 223px;
            height: 371px;
            &::before
            {
                position: absolute;
                top: -67px;
                left: 0;
                width: 27px;
                height: 27px;
                border-radius: 50%;
                border: 2px solid #0E8784;
                background: #FEFCF7;
                content: " ";
            }
        }
        &__item:not(:last-child)::after
        {
            position: absolute;
            top: -57px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #FDD6BA;
            content: " ";
            z-index: -1;
            left: 15px;
            bottom: 15px;
        }
        
        &__btn
        {
            padding-top: 64px;
            padding-bottom: 200px;
        }
    }
    padding-top: 144px;
   }
}
}


// =========Abuot Us Tablet==============//
@media only screen and (max-width: 768px) {
    .abuot
{
    &__inner
    {
        padding-top: 1px;
        width: 100%;
        height: 420px;
        background-image: url(../../images/Abuot__tablet.png);
        background-repeat: no-repeat;
        border-radius: 10px;
        &__in
        {
            margin-top: 118px;
            margin-left: 58px;
        }
        &__h1
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 40px;
            color: #FEFCF7;

        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;
            width: 398px;
        }
    }
}
.commitment
{
    &__inner
    {
        margin-top: 168px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__img
        {
            display: none;
            width: 445px;
        }
        &__jpg
        {
            display: block;
        }
        &__h2
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 48px;
            color: #333D4B;


        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #333D4B;
            mix-blend-mode: normal;
            opacity: 0.8;
            width: 339px;
        }
    }
}
.quality
{
    &__inner
    {
        margin-top: 244px;
        background-color: #2C343E;
        width: 100%;
        height: 474px;
        border-radius: 15.1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &__div
        {
            margin-left: 85px;
        }

        &__h2
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            color: #FEFCF7;
            margin-top: 224px;
            
        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;
        }
        &__img
        {
            display: none;
            width: 445px;
            height: 474px;
            position: absolute;
            right: 100px;
            top: -85px;
            margin-left: 97px;
            margin-right: 97px;
        }
        &__jpg
        {
            display: block;
            position: absolute;
            right: 60px;
            top: -160px;
        }
    }
}
.headquarters
{
    &__inner
    {
        &__h2
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #83888F;
            margin-top: 168px;

        }
        &__list
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
            margin-top: 72px;
            &__h3
            {
                font-family: 'Fraunces';
                font-style: normal;
                font-weight: 900;
                font-size: 24px;
                line-height: 36px;
                color: #333D4B;
            }
            &__p
            {
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #333D4B;
                margin-top: 1px;
            }
            &__img
            {
                display: block;
                width: 40.84px;
                height: 49.07px;
            }
        }
    }
}
}



//================create table================//
@media only screen and(max-width: 768px) {

.create
{
    &__inner
    {
        padding-top: 1px;
        width: 100%;
        height: 420px;
        background-image: url(../../images/create__tablet.png);
        background-repeat: no-repeat;
        border-radius: 10px;
        &__in
        {
            margin-top: 127px;
            margin-left: 58px;
        }
        &__h1
        {
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height: 48px;
            color: #FEFCF7;
        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;
            width: 398px;
        }
    }
}
.enjoy
{
    &__inner
   {
    margin-bottom: 200px;
    &__list
    {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        &__h2
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            color: #FDD6BA;

        }
        &__h3
        {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
            line-height: 32px;
            color: #FFFFFF;
            width: 161px;

        }
        &__p
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #FFFFFF;
            width: 161px;

        }
        &__item
        {
            position: relative;
            width: 200px;
            &::before
            {
                position: absolute;
                top: -67px;
                left: 0;
                width: 27px;
                height: 27px;
                border-radius: 50%;
                border: 2px solid #0E8784;
                background: #FEFCF7;
                content: " ";
            }
        }
        &__item:not(:last-child)::after
        {
            position: absolute;
            top: -57px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: white;
            content: " ";
            z-index: 1;
            left: 15px;
            bottom: 15px;
        }
        
        &__btn
        {
            padding-top: 64px;
            padding-bottom: 200px;
        }
    }
    padding-top: 312px;
   }
}
.drink
{
    &__inner
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 156px;
        &__btn
        {
            display: block;
            margin: 0 auto;
        }

        &__h2
        {
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #83888F;
            margin-bottom: 56px;

        }
        &__h3
        {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-transform: uppercase;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.5;
            padding-top: 31px;
            padding-left: 64px;
        }
        &__p
        {
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 40px;
            color: #FFFFFF;
            width: 550px;


        }
        &__list
        {
            list-style: none;
            display: none;
            &__span
            {
                &:hover
                {
                    font-family: 'Fraunces';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 32px;
                    color: #0E8784;
                }

            }
            &__span3
            {
                &:hover
                {
                    font-family: 'Fraunces';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 32px;
                    color: #333D4B;
                }

            }
            &__item
            {
                margin-bottom: 24px;
                &__link
                {
                    font-family: 'Fraunces';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 32px;
                    color: #83888F;


                }
            }
        }
        &__div
        {
            display: block;
        }
        &__lists
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            max-width: 689px;
            
            &__items
            {
                border: 1px solid #F4F1EB;
                border-radius: 8px;
                margin-right: 23px;
                width: 223px;
                height: 250px;
                &:hover
                {
                    background: #FDD6BA;
                    border-radius: 8px;
                }
                &:active
                {
                    background: #0E8784;
                    border-radius: 8px;
                }
                &__h3
                {
                    font-family: 'Fraunces';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 32px;
                    color: #333D4B;
                    margin-top: 32px;
                    margin-left: 28px;
                }
                &__p
                {
                    font-family: 'Barlow';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: #333D4B;
                    width: 172px;
                    margin-top: 24px;
                    margin-left: 28px;
                }
            }
        }
    }
}
    .bg
    {
        width: 689px;
        border-radius: 15px;
        margin: 0;
        padding: 0;
        padding-left: 39px;
        padding-right: 39px;
        margin-top: 144px;
        margin-bottom: 40px;
    }
}